<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Driver -->
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <!-- DB info -->
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/test?zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name = "hibernate.connection.username">test</property>
        <property name = "hibernate.connection.password">test</property>
	
        <!-- MySQL Server Test 103.21.151.171 -->
        <!-- <property name = "hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/interview?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name = "hibernate.connection.username">interview</property>
        <property name = "hibernate.connection.password">NW9tcnfuv4KN</property> -->

        <!-- c3p0 configure -->         
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">60</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.c3p0.timeout">3600</property>
         
         <!-- Charset -->
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
         
        <!-- JDBC connection pool, use Hibernate internal connection pool -->
        <property name="testOnBorrow">true</property>
        <property name="validationQuery">select 1</property>
        <property name="validationInterval">120000</property>
        <property name="minEvictableIdleTimeMillis">60000</property>
        <property name="connection.autocommit">false</property>
        <property name="connection.pool_size">100</property>
        <property name="cache.provider_class">org.cache.internal.NoCacheProvider</property>
        <property name="connection.release_mode">after_transaction</property>
        <property name="max_fetch_depth">2</property>
        <property name="jdbc.batch_size">200</property>
        
        <!-- Show sql -->
        <property name="show_sql">true</property>
        <property name="generate_statistics">true</property>

        <!-- Mapping with model class containing annotations -->
        <mapping class="com.elcom.data.entity.User"/>
		
        <!-- Mapping with resource query  -->
        <mapping resource="hibernate/user.xml"/>
    </session-factory>
</hibernate-configuration>